body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.beggining {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(87, 87, 84, 0.7)), url('../images/main-image.jpg');
}

.second {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(87, 87, 84, 0.7)), url('../images/taller-frente.jpg');
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(87, 87, 84, 0.7)), url('../images/taller-interno.jpg');
}

.bg-4 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(80, 23, 32, 0.7)), url('../images/repuestos.jpg');
}

.bg-5 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(80, 23, 32, 0.7)), url('../images/repuestos-detras.jpg');
}

.beggining, .second, .third, .bg-4, .bg-5 {
    background-size: cover;
    background-position: center;
    color: #fff;
}

