body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.beggining {
    background: linear-gradient(#000000cc, #575754b3), url('../images/main-image.jpg');
}

.second {
    background: linear-gradient(#000000cc, #575754b3), url('../images/taller-frente.jpg');
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.8), #575754b3), url('../images/taller-interno.jpg');
}

.bg-4 {
    background: linear-gradient(to left, #000000cc, #501720b3), url('../images/repuestos.jpg');
}

.bg-5 {
    background: linear-gradient(to right, #000000cc, #501720b3), url('../images/repuestos-detras.jpg');
}

.bg-6 {
    background: linear-gradient(70deg, #444242cc, #05022eb3), url('../images/taller-frente.jpg');
}

.beggining, .second, .third, .bg-4, .bg-5, .bg-6 {
    background-size: cover;
    background-position: center;
    color: #fff;
}

.btn-media {
    background: none;
    border:none;
}

.curved {
    border-radius: 2rem;
}

.bg-cristal {
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
}

.bg-cristal:focus {
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
}

.bg-cristal-dark {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}
