body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.beggining {
    background: linear-gradient(#000000cc, #575754b3), url('../images/main-image.jpg');
}

.second {
    background: linear-gradient(#000000cc, #575754b3), url('../images/taller-frente.jpg');
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.8), #575754b3), url('../images/taller-interno.jpg');
}

.bg-4 {
    background: linear-gradient(to left, #000000cc, #501720b3), url('../images/repuestos.jpg');
}

.bg-5 {
    background: linear-gradient(to right, #000000cc, #501720b3), url('../images/repuestos-detras.jpg');
}

.bg-6 {
    background: linear-gradient(45deg,#800d09, #000000);
}

.beggining, .second, .third, .bg-4, .bg-5 {
    background-size: cover;
    background-position: center;
    color: #fff;
}

.btn-media {
    background: none;
    border:none;
}

